.card{
    background-color: #CDC1FF;
    width: 250px;
    color: black;
    transition: all 0.25s ease-in-out;
    margin-bottom: 20px;
    margin-top: 20px;
    border:4px solid #A594F9;
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 15px 5px #00000052;
}

.card img {
    width: 100%;
    border-radius: 9px;
}

.card p {
    padding-bottom: 10px;
}

