footer{
  background-color: rgb(230, 118, 202);
  color: rgb(46, 45, 102);
  /* Top/Bottom, Left/Right */
  /* left top right bottom */
  padding: 100px 50px;
  margin-top: 60px;
  
}

footer p{
    font-size: 30px;
}